.adminform {
  &__paper {
    max-width: 1217px;
    width: 70vw;
    padding: 15px;
    background-color: #fff;
    margin: 0 auto;

    .paper__header {
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(102, 102, 102, 1);
      margin-bottom: 25px;
    }

    .form {
      &__1 {
        display: flex;
        width: 100%;
        gap: 20px;
        margin-bottom: 26px;

        &-input {
          display: flex;
          flex-direction: column;
          flex: 1;

          &__label {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(102, 102, 102, 1);
            margin-bottom: 15px;
          }

          &__input {
            height: 55px;
            max-width: 567px;
            width: 100%;
            left: 436px;
            top: 354px;
            border: 2px solid rgba(119, 119, 119, 1);
            .ta {
              height: unset !important;
            }
            input {
              width: 100%;
              height: 100%;
            }
            select {
              width: 100%;
              height: 100%;
              padding: 16px;
              color: rgba(102, 102, 102, 1);
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;
            }
            textarea {
              height: 363px;
              width: 100%;
              resize: none;
            }
          }
        }
      }
      &__2 {
        &-input {
          display: flex;
          flex-direction: column;
          margin-bottom: 26px;

          &__label {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(102, 102, 102, 1);
            margin-bottom: 15px;
          }

          &__input {
            height: 55px;
            width: 100%;
            left: 436px;
            top: 354px;
            border: 2px solid rgba(119, 119, 119, 1);
            select {
              width: 100%;
              height: 100%;
              padding: 16px;
              color: rgba(102, 102, 102, 1);
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;

              option {
              }
            }
          }
        }
      }

      &__3-input {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 27px;
        &__label {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(102, 102, 102, 1);
          margin-bottom: 15px;
        }
        &__input {
          height: 55px;
          width: 100%;
          left: 436px;
          top: 354px;
          border: 2px solid rgba(119, 119, 119, 1);
          padding: 10px 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            height: 35px;
            width: 110px;
            border: 2px solid rgba(68, 68, 68, 1);
            text-align: center;
            border-radius: 5px;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
          }
          input {
            padding-left: 10px;
            width: 100%;
            height: 100%;
          }
        }
      }

      .adminWarning {
        height: 89px;
        width: 100%;
        background: rgba(241, 39, 17, 0.1);
        // opacity: 0.1;
        padding: 21px;
        margin-bottom: 31px;
        &__header {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(102, 102, 102, 1);
          margin-bottom: 7px;
        }
        &__subheader {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(102, 102, 102, 1);
        }
      }

      .info__warning {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(241, 39, 17, 1);
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          height: 24px;
          width: 24px;
        }
      }
      .create-btn {
        margin-top: 20px;
        button {
          height: 54px;
          width: 177px;
          display: flex;
          justify-content: center;
          align-items: center;
          appearance: none;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          background-color: white;
          border: 2px solid rgba(241, 42, 16, 1);
          gap: 5px;
          margin-bottom: 39px;
        }
      }
    }
  }
}
