.layout {
  &__contain {
    width: 100%;
    height: 100%;
    display: flex;

    .layout__right {
      flex: 0.8;
      background: #e5e5e5;

      @include media("<920px") {
        flex: 1;
      }

      .layout__top {
        background: linear-gradient(90deg, #f12711 0%, #fd7201 100%);
        height: 265px;
        //   display: flex;
        //   justify-content: right;

        &-contain {
          // width: 75%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          padding-left: 52px;

          .top__contain-header {
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
            margin-bottom: 12px;
          }

          .top__contain-subheader {
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: white;
          }
        }
      }

      .main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 59.6%;
        &__content {
          font-family: Roboto;
          font-size: 36px;
          font-style: normal;
          font-weight: 400;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(241, 52, 15, 1);

          @include media("<920px") {
            font-size: 24px;
          }
        }
      }
    }

    .layout__side {
      flex: 0.2;
      min-height: 100vh;

      @include media("<920px") {
        flex: 0;
        // display: none;
        width: 0px;
      }

      .side__misc {
        height: 34px;
        background-color: #f12911;
      }

      .side__contain {
        &-top {
          //   padding: 44px 106px 0 108px;
          padding: 30px 44px 0 44px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .avatar {
            height: 92px;
            width: 92px;
            border-radius: 50%;
            background: rgba(196, 196, 196, 1);
          }
          .user-name {
            font-family: $poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 11px;
            color: rgba(102, 102, 102, 1);
          }
          .user-role {
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(241, 42, 16, 1);
          }
        }

        &-others {
          .others__header {
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(102, 102, 102, 1);
            margin-top: 42px;
            padding-left: 20px;
          }
          .others__lists {
            display: flex;
            flex-direction: column;
            padding-left: 27px;
            gap: 43px;
            margin-top: 27px;
            &-list {
              a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;

                &:hover {
                  color: #f1340f;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media("<920px") {
  .showmenu {
    width: unset !important;
    position: absolute !important;
    background-color: white !important;
  }
}

.menuicon {
  color: white;
}

.mobileMenu {
  color: white;
}

@include media(">920px") {
  .menuicon {
    display: none !important;
  }

  .mobileMenu {
    display: none !important;
  }
}
