.container-fluid {
  background: linear-gradient(90deg, #f12711 0%, #fd7201 100%);
  .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 32px;

    @include media("<=phone") {
      padding: 0 16px;
    }

    .login__header {
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }

    .login__sub-header {
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      margin-top: 5px;
    }

    .input__contain {
      height: 339px;
      max-width: 604px;
      width: 100%;
      margin-top: 22px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      //   justify-content: center;
      align-items: center;
      padding: 43px 35px 41px 35px;
      flex-direction: column;
      gap: 21px;

      .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        &__label {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
        }

        &__input {
          height: 55px;
          // max-width: 534px;
          border: 2px solid rgba(34, 34, 34, 1);

          input {
            height: 100%;
            width: 100%;
          }
        }
      }

      .btn__contain {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }

      .signin__btn {
        button {
          appearance: none;
          height: 48px;
          max-width: 105px;
          width: 100%;
          border: 2px solid rgba(241, 42, 16, 1);
          padding: 14px 18px;
          text-transform: capitalize;

          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(68, 68, 68, 1);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
